.collapse-cart {
    transform: translateY( calc( 100% - 6rem ) );

    .cart__headline svg {
        transform: translateY( -50% ) rotate( 180deg );
    }
}

.collapse-user-info {
    transform: translateX( 100% );
}

.on-cart-load {
    animation: on-cart-load 1s ease-in-out;
}

.loading {
    cursor: wait;
}