$color-primary: #57A5B8;
$color-secondary: #FDB560;
$color-tertiary: #631104;

$color-grey-light: #D2E0DD;
$color-grey: #8a9e99;
$color-grey-dark: #333333;

$color-danger: #a50f0f;
$color-success: #15af15;
$color-warning: #9b980d;