@font-face {
  font-family: "k2d";
  src: url("fonts/K2DRegular.ttf") format("ttf"), url("fonts/K2DRegular.woff") format("woff"), url("fonts/K2DRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
html {
  font-size: 62.5%;
}

body {
  display: block;
  box-sizing: border-box;
  font-family: "k2d";
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background-color: #D2E0DD;
}

#root {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #000000;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  box-shadow: none;
  outline: none;
  border: none;
}
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus {
  outline: none;
}

.text-light {
  color: #D2E0DD;
}

.collapse-cart {
  transform: translateY(calc(100% - 6rem));
}
.collapse-cart .cart__headline svg {
  transform: translateY(-50%) rotate(180deg);
}

.collapse-user-info {
  transform: translateX(100%);
}

.on-cart-load {
  animation: on-cart-load 1s ease-in-out;
}

.loading {
  cursor: wait;
}

@keyframes on-cart-load {
  0% {
    background-color: #e9bf8f;
  }
  50% {
    background-color: #FDB560;
  }
  100% {
    background-color: #e9bf8f;
  }
}
.cart {
  width: 46rem;
  height: calc(100% - 6.6rem);
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 1rem #8a9e99;
  background-color: #e9bf8f;
  background-image: linear-gradient(rgba(87, 165, 184, 0.2), rgba(99, 17, 4, 0.1));
  border-top-left-radius: 1rem;
  padding: 2rem;
  transition: transform 0.5s ease;
}
.cart > *:not(:last-child) {
  margin-bottom: 3rem;
}
.cart__warning {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  color: #D2E0DD;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.2);
}
.cart__warning-danger {
  background-color: rgba(165, 15, 15, 0.7);
}
.cart__warning-warning {
  background-color: rgba(155, 152, 13, 0.7);
}
.cart__warning-success {
  background-color: rgba(21, 175, 21, 0.7);
}
.cart__headline {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
  vertical-align: top;
  font-size: 2rem;
  color: #333333;
}
.cart__headline__nr {
  font-size: 1.3rem;
  vertical-align: 0.4rem;
  height: 2rem;
  background-color: #333333;
  color: #D2E0DD;
  border-radius: 50%;
  padding: 0.35rem 0.9rem;
  pointer-events: none;
}
.cart__headline svg {
  display: block;
  position: absolute;
  top: 50%;
  right: 14.9rem;
  transform: translateY(-50%);
  height: 2.5rem;
  fill: #333333;
  pointer-events: none;
}
.cart__headline:hover {
  color: #57A5B8;
}
.cart__headline:hover svg {
  fill: #57A5B8;
}
.cart__headline:hover .cart__headline__nr {
  background-color: #57A5B8;
}
.cart__submit-button {
  position: absolute;
  bottom: 2rem;
  display: inline-block;
  text-align: center;
  width: calc(100% - 4rem);
  background-color: #15af15;
  color: #D2E0DD;
  padding: 1rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}
.cart__submit-button:hover {
  background-color: #333333;
}
.cart__noitem-headline {
  font-size: 2rem;
  text-align: center;
  vertical-align: top;
  padding: 1rem 0;
}
.cart__items-container {
  position: relative;
  width: 100%;
  max-height: calc(100% - 13rem);
  overflow-y: auto;
  scrollbar-width: none;
  border-radius: 1rem;
  box-shadow: inset 0 -0.2rem 0.2rem rgba(51, 51, 51, 0.2), inset 0 0.2rem 0.2rem rgba(51, 51, 51, 0.2);
}
.cart__items-container::-webkit-scrollbar {
  display: none;
}
.cart__item {
  position: relative;
  width: 100%;
  min-height: 10rem;
  color: #333333;
  font-size: 1.8rem;
  background-color: rgba(233, 191, 143, 0.2);
  box-shadow: inset 0 0.2rem 0.2rem rgba(51, 51, 51, 0.2);
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}
.cart__item__title {
  display: inline-block;
  width: 60%;
}
.cart__item__price {
  display: inline-block;
  margin-top: 1rem;
  color: #15af15;
}
.cart__item__controls {
  position: absolute;
  top: 1rem;
  right: 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.cart__item__ammount {
  display: inline-block;
  padding: 0 0.5rem;
}
.cart__item__button {
  position: relative;
  vertical-align: top;
  width: 4rem;
  height: 2.6rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  color: #333333;
}
.cart__item__button--delete {
  position: relative;
  vertical-align: top;
  width: 3rem;
  height: 2.6rem;
}
.cart__item__button--delete svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
  width: auto;
  fill: #333333;
}
.cart__item__button--delete svg:hover {
  fill: #a50f0f;
}
.cart__item__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 1px;
  background-color: #333333;
  transition: width 0.3s ease, left 0.3s ease;
}
.cart__item__button:hover::after {
  left: 0;
  width: 100%;
}
.cart__item__extra {
  font-size: 1.3rem;
  margin: 0.5rem;
  margin-right: 0;
}

.user-info {
  width: 46rem;
  height: calc(100% - 6.6rem);
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
  background-color: #8a9e99;
  background-image: linear-gradient(rgba(87, 165, 184, 0.2), rgba(99, 17, 4, 0.2));
  border-top-left-radius: 1rem;
  padding: 2rem;
  transition: transform 0.5s ease;
}
.user-info__details {
  height: 100%;
  width: 100%;
  text-align: center;
}
.user-info__details__heading {
  font-size: 2rem;
  color: #D2E0DD;
  margin-bottom: 3rem;
}
.user-info__details__link:visited, .user-info__details__link:active, .user-info__details__link:link {
  font-size: 1.5rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #D2E0DD;
  padding: 1rem 0;
  margin: 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
  transition: box-shadow 0.3s ease;
}
.user-info__details__link:visited:hover, .user-info__details__link:active:hover, .user-info__details__link:link:hover {
  box-shadow: inset 0 0 1rem rgba(51, 51, 51, 0.5);
}
.user-info__details__link:visited:active, .user-info__details__link:active:active, .user-info__details__link:link:active {
  background-color: rgba(51, 51, 51, 0.5);
}
.user-info__details__logout {
  position: absolute;
  bottom: 7rem;
  left: 2rem;
  display: block;
  padding: 1rem;
  width: calc(100% - 4rem);
  text-align: center;
  font-size: 2rem;
  background-color: #a50f0f;
  color: #D2E0DD;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}
.user-info__details__logout:hover {
  background-color: #333333;
}
.user-info__login > *:not(:last-child) {
  margin-bottom: 1rem;
}
.user-info__login__label {
  display: none;
}
.user-info__login__input {
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  background-color: #D2E0DD;
  font-size: 1.5rem;
}
.user-info__login__error {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.7rem;
  padding: 1rem 0;
  border-radius: 1rem;
  background-color: #9b980d;
  color: #D2E0DD;
  box-shadow: inset 0 0 1rem rgba(51, 51, 51, 0.5);
}
.user-info__login__submit {
  display: block;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  background-color: #57A5B8;
  color: #D2E0DD;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}
.user-info__login__submit:hover {
  background-color: #333333;
}
.user-info__login__link:visited, .user-info__login__link:active, .user-info__login__link:link {
  font-size: 1.5rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #D2E0DD;
}
.user-info__login__link:visited:hover, .user-info__login__link:active:hover, .user-info__login__link:link:hover {
  color: #FDB560;
}

#main-nav {
  display: block;
  width: 100%;
  background-color: transparent;
}
#main-nav .main-nav-logo {
  display: inline-block;
  font-size: 2rem;
  color: #57A5B8;
  margin: 2rem 3rem;
}
#main-nav .container {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.6rem;
  margin-top: 2rem;
}
#main-nav .container > * {
  margin: 0 2rem;
}
#main-nav .container .main-nav-searchbar {
  display: inline-block;
  position: relative;
  height: 2.6rem;
  width: 25rem;
}
#main-nav .container .main-nav-searchbar label {
  display: none;
}
#main-nav .container .main-nav-searchbar input {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  padding-left: 1rem;
  font-size: 2rem;
  background-color: #D2E0DD;
  color: #333333;
  border: none;
  border-radius: 1rem;
  z-index: 1;
}
#main-nav .container .main-nav-searchbar input:focus-visible {
  outline: none;
}
#main-nav .container .main-nav-searchbar input::placeholder {
  color: #8a9e99;
  opacity: 1;
}
#main-nav .container .main-nav-searchbar button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  border-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0 3rem;
  background-color: #57A5B8;
  color: #D2E0DD;
  z-index: 0;
  transition: background-color 0.3s ease;
}
#main-nav .container .main-nav-searchbar button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
}
#main-nav .container .main-nav-searchbar button:hover {
  background-color: #FDB560;
}
#main-nav .container .main-nav-searchbar button:active {
  background-color: #631104;
}
#main-nav .container .main-nav-button {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 2.6rem;
  width: 5rem;
  border-radius: 1rem;
  background-color: #57A5B8;
  transition: background-color 0.3s ease;
  vertical-align: top;
}
#main-nav .container .main-nav-button:hover {
  background-color: #FDB560;
}
#main-nav .container .main-nav-button:active {
  background-color: #631104;
}
#main-nav .container .main-nav-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
}

#sidemenu {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 46rem;
  float: left;
}

#root {
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  position: relative;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.App::after {
  content: "";
  display: table;
  clear: both;
}

/*# sourceMappingURL=main.css.map */
